@font-face{
    font-family : "Lovelo_Bold";
    src : url('/www/moine7u/amtj-fmp/fonts/Lovelo_Line_Bold.otf');
}

@font-face{
    font-family : "Lovelo_Light";
    src : url('/www/moine7u/amtj-fmp/fonts/Lovelo_Line_Light.otf');
}

@font-face{
    font-family : "Lovelo_Black";
    src : url('/www/moine7u/amtj-fmp/fonts/Lovelo_Black.otf');
}

