/* line 17, ../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 14, ../sass/formulaireAjoutUser_1.scss */
body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *zoom: 1;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  background: gainsboro;
}
/* line 38, ../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
body:after {
  content: "";
  display: table;
  clear: both;
}
/* line 18, ../sass/formulaireAjoutUser_1.scss */
body section {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
  margin-top: 4%;
}
/* line 21, ../sass/formulaireAjoutUser_1.scss */
body section > h1 {
  text-align: center;
  font-size: 14px;
}
/* line 25, ../sass/formulaireAjoutUser_1.scss */
body section > h2 {
  text-align: center;
  color: red;
}
/* line 29, ../sass/formulaireAjoutUser_1.scss */
body section > form {
  margin-top: 2%;
}
/* line 31, ../sass/formulaireAjoutUser_1.scss */
body section > form > label {
  width: 47.82609%;
  float: left;
  margin-right: 4.34783%;
  display: inline;
}
/* line 34, ../sass/formulaireAjoutUser_1.scss */
body section > form > input {
  width: 47.82609%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
@media (min-width: 42em) and (max-width: 64em) {
  /* line 41, ../sass/formulaireAjoutUser_1.scss */
  body section {
    width: 100%;
    float: right;
    margin-right: 0;
  }
  /* line 44, ../sass/formulaireAjoutUser_1.scss */
  body section > form > label {
    width: 36.17021%;
    float: left;
    margin-right: 2.12766%;
  }
  /* line 47, ../sass/formulaireAjoutUser_1.scss */
  body section > form > input {
    width: 61.70213%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 64em) {
  /* line 55, ../sass/formulaireAjoutUser_1.scss */
  body section {
    width: 100%;
    float: right;
    margin-right: 0;
  }
  /* line 57, ../sass/formulaireAjoutUser_1.scss */
  body section > form {
    margin-left: 16.90141%;
    width: 66.19718%;
    float: left;
    margin-right: 1.40845%;
  }
  /* line 60, ../sass/formulaireAjoutUser_1.scss */
  body section > form > label {
    width: 32.39437%;
    float: left;
    margin-right: 1.40845%;
  }
  /* line 63, ../sass/formulaireAjoutUser_1.scss */
  body section > form > input {
    width: 66.19718%;
    float: right;
    margin-right: 0;
  }
}
