/* line 17, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 16, ../sass/list.scss */
body {
  background-image: url(/www/moine7u/amtj-fmp/img/pattern1.png);
  font-family: Arial, sans-serif;
  font-size: 13px;
}

/* line 22, ../sass/list.scss */
body > #page {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *zoom: 1;
  padding-left: 0.2em;
  padding-right: 0.2em;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
body > #page:after {
  content: "";
  display: table;
  clear: both;
}
/* line 25, ../sass/list.scss */
body > #page > #categories {
  padding-bottom: 2%;
}
/* line 29, ../sass/list.scss */
body > #page > #categories > ul > .selected {
  background: #e74c3c;
}
/* line 31, ../sass/list.scss */
body > #page > #categories > ul > .selected > a {
  color: white;
}
/* line 35, ../sass/list.scss */
body > #page > #categories > ul > li {
  width: 49.61832%;
  float: left;
  margin-right: 0.76336%;
  display: inline;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 2.5em;
  padding: 0 2%;
  margin-bottom: 1%;
}
/* line 43, ../sass/list.scss */
body > #page > #categories > ul > li:nth-child(2n) {
  width: 49.61832%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
}
/* line 46, ../sass/list.scss */
body > #page > #categories > ul > li > a {
  color: black;
  text-decoration: none;
}
/* line 53, ../sass/list.scss */
body > #page > section {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
  background: white;
  margin-top: 2%;
  margin-bottom: 2%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-shadow: 3px 3px 5px 2px #7f8c8d;
  padding: 1%;
}
/* line 63, ../sass/list.scss */
body > #page > section > h2 {
  padding: 2%;
  font-size: 2.5em;
}
/* line 67, ../sass/list.scss */
body > #page > section > #null {
  text-align: center;
}
/* line 69, ../sass/list.scss */
body > #page > section > #null > img {
  vertical-align: middle;
}
/* line 73, ../sass/list.scss */
body > #page > section > div > ul > li {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 2%;
}
/* line 78, ../sass/list.scss */
body > #page > section > div > ul > li > a {
  text-decoration: none;
  color: black;
}
/* line 81, ../sass/list.scss */
body > #page > section > div > ul > li > a > article {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-shadow: 0px 0px 0px 1px #DCDCDC;
  border: 4px solid #fff;
  margin-bottom: 2%;
  background: white;
  font-size: 2.5em;
}
/* line 91, ../sass/list.scss */
body > #page > section > div > ul > li > a > article > #photo {
  position: relative;
}
/* line 93, ../sass/list.scss */
body > #page > section > div > ul > li > a > article > #photo > span {
  position: absolute;
  background: black;
  opacity: 0.7;
  top: 0;
  color: white;
  width: 100%;
  height: 100%;
}
/* line 102, ../sass/list.scss */
body > #page > section > div > ul > li > a > article > #photo > img {
  width: 23.25581%;
  float: left;
  margin-right: 2.32558%;
  display: inline;
}
/* line 106, ../sass/list.scss */
body > #page > section > div > ul > li > a > article > div:nth-child(2) {
  width: 74.4186%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
}
/* line 108, ../sass/list.scss */
body > #page > section > div > ul > li > a > article > div:nth-child(2) > #titre {
  font-weight: bold;
  margin-left: 5%;
}
/* line 111, ../sass/list.scss */
body > #page > section > div > ul > li > a > article > div:nth-child(2) > #titre:first-letter {
  text-transform: uppercase;
}
/* line 115, ../sass/list.scss */
body > #page > section > div > ul > li > a > article > div:nth-child(2) > #but, body > #page > section > div > ul > li > a > article > div:nth-child(2) #recu, body > #page > section > div > ul > li > a > article > div:nth-child(2) #tps {
  margin-left: 5%;
  color: #7f8c8d;
}
/* line 120, ../sass/list.scss */
body > #page > section > div > ul > li > a > article > #amount {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
  margin-top: 3%;
}
/* line 123, ../sass/list.scss */
body > #page > section > div > ul > li > a > article > #amount > strong {
  width: 23.25581%;
  float: left;
  margin-right: 2.32558%;
  display: inline;
  font-weight: bold;
  text-align: center;
}
/* line 128, ../sass/list.scss */
body > #page > section > div > ul > li > a > article > #amount > meter {
  width: 74.4186%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
}
/* line 136, ../sass/list.scss */
body > #page .page_navigation {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
  text-align: center;
  margin-top: 3%;
  margin-bottom: 2%;
}
/* line 141, ../sass/list.scss */
body > #page .page_navigation > a {
  text-decoration: none;
  background: #2D2D2D;
  color: white;
  margin: 1%;
  padding: 0.5% 1%;
  font-size: 2.5em;
  border-radius: 1px;
}
/* line 149, ../sass/list.scss */
body > #page .page_navigation > a:hover {
  color: #c0392b;
}
@media (min-width: 1024px) and (max-width: 1152px) {
  /* line 160, ../sass/list.scss */
  body > #page > #categories > ul > li {
    font-size: 13px;
  }
  /* line 164, ../sass/list.scss */
  body > #page > section {
    padding: 0;
    margin-top: 2%;
  }
  /* line 167, ../sass/list.scss */
  body > #page > section > h2 {
    font-size: 14px;
  }
  /* line 172, ../sass/list.scss */
  body > #page > section > div > ul > li > a {
    width: 24.42748%;
    float: left;
    margin-right: 0.76336%;
  }
  /* line 174, ../sass/list.scss */
  body > #page > section > div > ul > li > a > article {
    font-size: 13px;
  }
  /* line 176, ../sass/list.scss */
  body > #page > section > div > ul > li > a > article > #photo > img {
    width: 100%;
    float: right;
    margin-right: 0;
  }
  /* line 179, ../sass/list.scss */
  body > #page > section > div > ul > li > a > article > div:nth-child(2) {
    width: 100%;
    float: right;
    margin-right: 0;
  }
  /* line 184, ../sass/list.scss */
  body > #page > section > div > ul > li > a:nth-child(4n) {
    width: 24.42748%;
    float: right;
    margin-right: 0;
  }
  /* line 192, ../sass/list.scss */
  body > #page .page_navigation > a {
    font-size: 14px;
  }
}
@media (min-width: 1152px) and (max-width: 1854px) {
  /* line 22, ../sass/list.scss */
  body > #page {
    margin-left: 8.39695%;
    width: 83.20611%;
    float: right;
    margin-right: 0;
    margin-right: 8.39695%;
  }
  /* line 201, ../sass/list.scss */
  body > #page > #categories > ul > li {
    font-size: 13px;
  }
  /* line 205, ../sass/list.scss */
  body > #page > section {
    width: 100%;
    float: right;
    margin-right: 0;
  }
  /* line 208, ../sass/list.scss */
  body > #page > section > h2 {
    padding: 1%;
    font-size: 14px;
    color: black;
  }
  /* line 216, ../sass/list.scss */
  body > #page > section > div > ul > li > a {
    width: 24.42748%;
    float: left;
    margin-right: 0.76336%;
  }
  /* line 218, ../sass/list.scss */
  body > #page > section > div > ul > li > a > article {
    margin: 0;
    margin-top: 8px;
    background: white;
    font-size: 13px;
  }
  /* line 223, ../sass/list.scss */
  body > #page > section > div > ul > li > a > article > #photo > img {
    width: 100%;
  }
  /* line 226, ../sass/list.scss */
  body > #page > section > div > ul > li > a > article > div:nth-child(2) {
    width: 100%;
    float: right;
    margin-right: 0;
  }
  /* line 228, ../sass/list.scss */
  body > #page > section > div > ul > li > a > article > div:nth-child(2) > #titre, body > #page > section > div > ul > li > a > article > div:nth-child(2) #but, body > #page > section > div > ul > li > a > article > div:nth-child(2) #recu, body > #page > section > div > ul > li > a > article > div:nth-child(2) #tps {
    margin-left: 0;
    padding-left: 5%;
  }
  /* line 235, ../sass/list.scss */
  body > #page > section > div > ul > li > a:nth-child(4n) {
    width: 24.42748%;
    float: right;
    margin-right: 0;
  }
  /* line 242, ../sass/list.scss */
  body > #page .page_navigation > a {
    font-size: 14px;
  }
}
@media (min-width: 1855px) {
  /* line 22, ../sass/list.scss */
  body > #page {
    margin-left: 25.14286%;
    width: 49.71429%;
    float: right;
    margin-right: 0;
    margin-right: 25.14286%;
  }
  /* line 252, ../sass/list.scss */
  body > #page > #categories > ul > li {
    font-size: 13px;
  }
  /* line 256, ../sass/list.scss */
  body > #page > section {
    width: 100%;
    float: right;
    margin-right: 0;
  }
  /* line 259, ../sass/list.scss */
  body > #page > section > h2 {
    padding: 1%;
    font-size: 14px;
    color: black;
  }
  /* line 267, ../sass/list.scss */
  body > #page > section > div > ul > li > a {
    width: 24.42748%;
    float: left;
    margin-right: 0.76336%;
  }
  /* line 269, ../sass/list.scss */
  body > #page > section > div > ul > li > a > article {
    margin: 0;
    margin-top: 8px;
    background: white;
    font-size: 13px;
  }
  /* line 274, ../sass/list.scss */
  body > #page > section > div > ul > li > a > article > #photo > img {
    width: 100%;
  }
  /* line 277, ../sass/list.scss */
  body > #page > section > div > ul > li > a > article > div:nth-child(2) {
    width: 100%;
    float: right;
    margin-right: 0;
  }
  /* line 279, ../sass/list.scss */
  body > #page > section > div > ul > li > a > article > div:nth-child(2) > #titre, body > #page > section > div > ul > li > a > article > div:nth-child(2) #but, body > #page > section > div > ul > li > a > article > div:nth-child(2) #recu, body > #page > section > div > ul > li > a > article > div:nth-child(2) #tps {
    margin-left: 0;
    padding-left: 5%;
  }
  /* line 286, ../sass/list.scss */
  body > #page > section > div > ul > li > a:nth-child(4n) {
    width: 24.42748%;
    float: right;
    margin-right: 0;
  }
  /* line 293, ../sass/list.scss */
  body > #page .page_navigation > a {
    font-size: 14px;
  }
}
