/* line 17, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 15, ../sass/main.scss */
body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *zoom: 1;
  padding-left: 0.2em;
  padding-right: 0.2em;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
body:after {
  content: "";
  display: table;
  clear: both;
}
/* line 18, ../sass/main.scss */
body #banner {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -0.2em;
  display: inline;
  background: #2D2D2D;
  box-shadow: 3px 3px 5px 2px #7f8c8d;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 1%;
}
/* line 27, ../sass/main.scss */
body #banner > div {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -0.2em;
  display: inline;
  text-align: center;
  padding: 1%;
  margin: 3% 0;
  font-size: 4em;
  position: relative;
}
/* line 34, ../sass/main.scss */
body #banner > div > a {
  text-align: center;
  color: white;
  text-decoration: none;
  font-family: 'Lovelo_Black';
}
/* line 40, ../sass/main.scss */
body #banner > div > #mobile {
  position: absolute;
  right: 2%;
  top: 15%;
  background: transparent;
}
/* line 45, ../sass/main.scss */
body #banner > div > #mobile > img {
  width: 1.5em;
}
/* line 50, ../sass/main.scss */
body #banner > section {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -0.2em;
  display: inline;
  display: none;
}
/* line 53, ../sass/main.scss */
body #banner > section > div.search {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -0.2em;
  display: inline;
}
/* line 56, ../sass/main.scss */
body #banner > section > div.search > form > #search {
  width: 87.43961%;
  float: left;
  margin-right: 0.48309%;
  display: inline;
  border: 1px ridge grey;
  background: grey;
  color: white;
  padding: 2%;
  font-size: 3em;
}
/* line 64, ../sass/main.scss */
body #banner > section > div.search > form > #searchb {
  width: 12.07729%;
  float: left;
  margin-right: 0.48309%;
  display: inline;
  border: 0px ridge #c0392b;
  border-bottom: 1px;
  background: #c0392b;
  color: white;
  padding: 2%;
  font-size: 3em;
  margin-right: 0;
}
/* line 73, ../sass/main.scss */
body #banner > section > div.search > form > #searchb:hover {
  background: white;
  color: #c0392b;
}
/* line 80, ../sass/main.scss */
body #banner > section > div.action {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -0.2em;
  display: inline;
  border: 0px ridge #c0392b;
  background: #c0392b;
  color: white;
  margin: 1% 0;
  padding: 2% 0;
  text-align: center;
  font-size: 3em;
}
/* line 89, ../sass/main.scss */
body #banner > section > div.action > a {
  color: white;
  text-decoration: none;
}
/* line 93, ../sass/main.scss */
body #banner > section > div.action:hover {
  background: white;
}
/* line 95, ../sass/main.scss */
body #banner > section > div.action:hover > a {
  color: #c0392b;
}
/* line 100, ../sass/main.scss */
body #banner > section > div.menu {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -0.2em;
  display: inline;
  margin: 2% 0;
  position: relative;
}
/* line 104, ../sass/main.scss */
body #banner > section > div.menu > h2 {
  color: white;
  text-align: center;
  font-size: 2.5em;
}
/* line 109, ../sass/main.scss */
body #banner > section > div.menu > div {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -0.2em;
  display: inline;
  position: absolute;
  z-index: 100;
  display: none;
}
/* line 114, ../sass/main.scss */
body #banner > section > div.menu > div > a {
  text-decoration: none;
}
/* line 116, ../sass/main.scss */
body #banner > section > div.menu > div > a > input {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -0.2em;
  display: inline;
  border: 0px ridge #c0392b;
  background: #c0392b;
  text-align: center;
  font-size: 2.5em;
  padding: 2% 0;
  color: white;
}
/* line 124, ../sass/main.scss */
body #banner > section > div.menu > div > a > input:hover {
  background: white;
  color: #c0392b;
}
/* line 134, ../sass/main.scss */
body footer {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -0.2em;
  display: inline;
  background: #2D2D2D;
  height: 20px;
  position: absolute;
  bottom: 0px;
}
/* line 140, ../sass/main.scss */
body footer > p {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -0.2em;
  display: inline;
  color: white;
  margin-top: 0.7%;
  font-size: 13px;
  text-align: center;
}
@media (min-width: 1024px) and (max-width: 1152px) {
  /* line 153, ../sass/main.scss */
  body #banner > div {
    width: 100%;
    float: right;
    margin-right: 0;
    margin: 0;
    font-size: 20px;
  }
  /* line 157, ../sass/main.scss */
  body #banner > div > #mobile {
    display: none;
  }
  /* line 161, ../sass/main.scss */
  body #banner > #acts {
    width: 100%;
    float: right;
    margin-right: 0;
    display: block;
  }
  /* line 164, ../sass/main.scss */
  body #banner > #acts > div.search {
    width: 49.75845%;
    float: left;
    margin-right: 0.48309%;
    margin: 0;
  }
  /* line 167, ../sass/main.scss */
  body #banner > #acts > div.search #search, body #banner > #acts > div.search #searchb {
    font-size: 15px;
    padding: 1%;
  }
  /* line 172, ../sass/main.scss */
  body #banner > #acts > div.action {
    width: 24.63768%;
    float: right;
    margin-right: 0;
    margin: 0;
    padding: 0.7% 0;
    font-size: 14px;
  }
  /* line 178, ../sass/main.scss */
  body #banner > #acts > div.menu {
    width: 37.19807%;
    float: right;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 1%;
  }
  /* line 182, ../sass/main.scss */
  body #banner > #acts > div.menu > h2 {
    font-size: 14px;
  }
  /* line 185, ../sass/main.scss */
  body #banner > #acts > div.menu > div > a > input {
    font-size: 14px;
  }
  /* line 192, ../sass/main.scss */
  body footer > p {
    width: 49.75845%;
    float: left;
    margin-right: 0.48309%;
  }
}
@media (min-width: 1152px) {
  /* line 199, ../sass/main.scss */
  body #banner {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    padding-bottom: 0;
  }
  /* line 203, ../sass/main.scss */
  body #banner > div {
    width: 24.75884%;
    float: left;
    margin-right: 0.32154%;
    margin: 0;
    margin-top: 2px;
    padding: 0;
    font-size: 20px;
  }
  /* line 209, ../sass/main.scss */
  body #banner > div > #mobile {
    display: none;
  }
  /* line 213, ../sass/main.scss */
  body #banner > #acts {
    width: 74.91961%;
    float: right;
    margin-right: 0;
    margin-top: -3px;
    margin-bottom: 7px;
    display: block;
  }
  /* line 218, ../sass/main.scss */
  body #banner > #acts > div.search {
    width: 33.04721%;
    float: left;
    margin-right: 0.42918%;
  }
  /* line 220, ../sass/main.scss */
  body #banner > #acts > div.search #search, body #banner > #acts > div.search #searchb {
    font-size: 15px;
    padding: 1%;
  }
  /* line 225, ../sass/main.scss */
  body #banner > #acts > div.action {
    width: 21.88841%;
    float: right;
    margin-right: 0;
    padding: 0.7% 0;
    margin: 0;
    font-size: 14px;
  }
  /* line 231, ../sass/main.scss */
  body #banner > #acts > div.menu {
    width: 33.04721%;
    float: right;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 0.5%;
  }
  /* line 235, ../sass/main.scss */
  body #banner > #acts > div.menu > h2 {
    font-size: 14px;
  }
  /* line 238, ../sass/main.scss */
  body #banner > #acts > div.menu > div > a > input {
    font-size: 14px;
  }
  /* line 244, ../sass/main.scss */
  body footer {
    width: 100%;
    float: right;
    margin-right: 0;
    background: #2D2D2D;
    height: 30px;
  }
  /* line 248, ../sass/main.scss */
  body footer > p {
    width: 24.75884%;
    float: right;
    margin-right: 0;
    color: white;
    margin-top: 0.7%;
  }
}
