/* line 14, ../sass/menuListe.scss */
body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *zoom: 1;
  padding-left: 0.2em;
  padding-right: 0.2em;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
body:after {
  content: "";
  display: table;
  clear: both;
}
/* line 17, ../sass/menuListe.scss */
body #toggle {
  display: none;
}
/* line 21, ../sass/menuListe.scss */
body #menu {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
  background: #2D2D2D;
  display: block;
}
/* line 25, ../sass/menuListe.scss */
body #menu > h2, body #menu ul > li {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
  color: white;
  text-align: center;
  padding: 3% 0;
  font-size: 2.5em;
}
/* line 32, ../sass/menuListe.scss */
body #menu > ul {
  position: relative;
}
/* line 34, ../sass/menuListe.scss */
body #menu > ul > li:hover {
  background: #c0392b;
  color: white;
}
@media (min-width: 1024px) and (max-width: 1152px) {
  /* line 43, ../sass/menuListe.scss */
  body #menu {
    width: 49.42529%;
    float: right;
    margin-right: 0;
  }
  /* line 45, ../sass/menuListe.scss */
  body #menu > h2, body #menu ul > li {
    width: 100%;
    float: right;
    margin-right: 0;
    font-size: 14px;
  }
}
@media (min-width: 1152px) {
  /* line 52, ../sass/menuListe.scss */
  body #toggle {
    display: block;
  }
}
