/* line 17, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 16, ../sass/modifuser.scss */
body {
  background-image: url(../img/pattern1.png);
  font-family: "Open Sans",arial,sans-serif;
}

/* line 20, ../sass/modifuser.scss */
body > #page {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *zoom: 1;
  padding-left: 0.2em;
  padding-right: 0.2em;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
body > #page:after {
  content: "";
  display: table;
  clear: both;
}
/* line 23, ../sass/modifuser.scss */
body > #page > article {
  margin-bottom: 2%;
}
/* line 25, ../sass/modifuser.scss */
body > #page > article > h1 {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
  text-align: center;
  margin-top: 2%;
  font-size: 5em;
  font-family: 'Give You Glory', cursive;
}
/* line 33, ../sass/modifuser.scss */
body > #page > article > form > section {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
  background: white;
  box-shadow: 3px 3px 5px 2px #7f8c8d;
  margin-top: 2%;
  font-size: 2.5em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 2%;
}
/* line 43, ../sass/modifuser.scss */
body > #page > article > form > section > label {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
  padding-top: 1%;
  padding-bottom: 1%;
  float: left;
  vertical-align: middle;
  text-align: center;
  color: #2980b9;
}
/* line 52, ../sass/modifuser.scss */
body > #page > article > form > section > input {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
  float: left;
  margin-top: 1%;
  font-size: 1.3em;
  padding: 1%;
}
/* line 59, ../sass/modifuser.scss */
body > #page > article > form > section > textarea {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
  font-size: 0.8em;
  height: 500px;
  padding: 1%;
}
/* line 66, ../sass/modifuser.scss */
body > #page > article > form > #sites {
  margin-bottom: 2%;
}
/* line 71, ../sass/modifuser.scss */
body > #page > article > form > #photo > div {
  text-align: center;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 4px solid #fff;
  box-shadow: 0px 0px 0px 1px #DCDCDC;
  margin-top: 2%;
  width: 400px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
/* line 84, ../sass/modifuser.scss */
body > #page > article > form > #photo > div > img {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
}
/* line 88, ../sass/modifuser.scss */
body > #page > article > form > #photo > input, body > #page > article > form > #photo p {
  text-align: center;
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
}
/* line 94, ../sass/modifuser.scss */
body > #page > article > form > #enreg > input {
  margin-left: 11.62791%;
  width: 74.4186%;
  float: left;
  margin-right: 2.32558%;
  display: inline;
  margin-right: 11.62791%;
  border: 1px ridge #2ecc71;
  background: #2ecc71;
  color: white;
  padding: 2%;
  font-size: 2.5em;
}
/* line 103, ../sass/modifuser.scss */
body > #page > article > form > #enreg > input:hover {
  cursor: pointer;
}
@media (min-width: 1024px) and (max-width: 1152px) {
  /* line 112, ../sass/modifuser.scss */
  body > #page > article {
    width: 100%;
    float: right;
    margin-right: 0;
  }
  /* line 114, ../sass/modifuser.scss */
  body > #page > article > h1 {
    font-size: 50px;
  }
  /* line 117, ../sass/modifuser.scss */
  body > #page > article > form > section {
    width: 49.42529%;
    float: left;
    margin-right: 1.14943%;
    font-size: 13px;
  }
  /* line 120, ../sass/modifuser.scss */
  body > #page > article > form > section > label {
    margin-top: 2%;
    font-size: 13px;
  }
  /* line 124, ../sass/modifuser.scss */
  body > #page > article > form > section > input {
    padding: 1%;
    font-size: 14px;
  }
  /* line 128, ../sass/modifuser.scss */
  body > #page > article > form > section > textarea {
    height: 60px;
    font-size: 14px;
  }
  /* line 132, ../sass/modifuser.scss */
  body > #page > article > form > section:nth-child(2n) {
    width: 49.42529%;
    float: right;
    margin-right: 0;
  }
  /* line 135, ../sass/modifuser.scss */
  body > #page > article > form > section:nth-child(4) {
    width: 49.42529%;
    float: left;
    margin-right: 1.14943%;
  }
  /* line 140, ../sass/modifuser.scss */
  body > #page > article > form > #photo > div {
    width: 150px;
    height: 150px;
  }
  /* line 144, ../sass/modifuser.scss */
  body > #page > article > form > #photo > p {
    font-size: 13px;
  }
  /* line 148, ../sass/modifuser.scss */
  body > #page > article > form > #enreg {
    width: 100%;
    float: right;
    margin-right: 0;
    margin-top: 0;
  }
  /* line 151, ../sass/modifuser.scss */
  body > #page > article > form > #enreg > input {
    margin-left: 37.93103%;
    width: 24.13793%;
    float: left;
    margin-right: 1.14943%;
    margin-right: 37.93103%;
    font-size: 14px;
    padding: 1%;
  }
}
@media (min-width: 1152px) and (max-width: 1854px) {
  /* line 20, ../sass/modifuser.scss */
  body > #page {
    margin-left: 8.39695%;
    width: 83.20611%;
    float: right;
    margin-right: 0;
    margin-right: 8.39695%;
  }
  /* line 166, ../sass/modifuser.scss */
  body > #page > article {
    width: 100%;
    float: right;
    margin-right: 0;
  }
  /* line 168, ../sass/modifuser.scss */
  body > #page > article > h1 {
    font-size: 50px;
  }
  /* line 171, ../sass/modifuser.scss */
  body > #page > article > form > section {
    width: 49.54128%;
    float: left;
    margin-right: 0.91743%;
  }
  /* line 173, ../sass/modifuser.scss */
  body > #page > article > form > section:nth-child(2n) {
    width: 49.54128%;
    float: right;
    margin-right: 0;
  }
  /* line 176, ../sass/modifuser.scss */
  body > #page > article > form > section:nth-child(4) {
    width: 49.54128%;
    float: left;
    margin-right: 0.91743%;
  }
  /* line 179, ../sass/modifuser.scss */
  body > #page > article > form > section > label {
    margin-top: 2%;
    font-size: 13px;
  }
  /* line 183, ../sass/modifuser.scss */
  body > #page > article > form > section > input {
    padding: 1%;
    font-size: 13px;
  }
  /* line 187, ../sass/modifuser.scss */
  body > #page > article > form > section > textarea {
    height: 69px;
    font-size: 13px;
  }
  /* line 193, ../sass/modifuser.scss */
  body > #page > article > form > #photo > div {
    width: 200px;
    height: 200px;
  }
  /* line 197, ../sass/modifuser.scss */
  body > #page > article > form > #photo > p {
    font-size: 13px;
  }
  /* line 201, ../sass/modifuser.scss */
  body > #page > article > form > #enreg {
    width: 100%;
    float: right;
    margin-right: 0;
    margin-top: 0;
  }
  /* line 204, ../sass/modifuser.scss */
  body > #page > article > form > #enreg > input {
    margin-left: 30.27523%;
    width: 39.44954%;
    float: left;
    margin-right: 0.91743%;
    margin-right: 30.27523%;
    font-size: 14px;
    padding: 1%;
  }
}
@media (min-width: 1855px) {
  /* line 20, ../sass/modifuser.scss */
  body > #page {
    margin-left: 25.14286%;
    width: 49.71429%;
    float: right;
    margin-right: 0;
    margin-right: 25.14286%;
  }
  /* line 218, ../sass/modifuser.scss */
  body > #page > article {
    width: 100%;
    float: right;
    margin-right: 0;
  }
  /* line 220, ../sass/modifuser.scss */
  body > #page > article > h1 {
    font-size: 50px;
  }
  /* line 223, ../sass/modifuser.scss */
  body > #page > article > form > section {
    width: 49.54128%;
    float: left;
    margin-right: 0.91743%;
  }
  /* line 225, ../sass/modifuser.scss */
  body > #page > article > form > section:nth-child(2n) {
    width: 49.54128%;
    float: right;
    margin-right: 0;
  }
  /* line 228, ../sass/modifuser.scss */
  body > #page > article > form > section:nth-child(4) {
    width: 49.54128%;
    float: left;
    margin-right: 0.91743%;
  }
  /* line 231, ../sass/modifuser.scss */
  body > #page > article > form > section > label {
    margin-top: 2%;
    font-size: 13px;
  }
  /* line 235, ../sass/modifuser.scss */
  body > #page > article > form > section > input {
    padding: 1%;
    font-size: 13px;
  }
  /* line 239, ../sass/modifuser.scss */
  body > #page > article > form > section > textarea {
    height: 69px;
    font-size: 13px;
  }
  /* line 245, ../sass/modifuser.scss */
  body > #page > article > form > #photo > div {
    width: 200px;
    height: 200px;
  }
  /* line 249, ../sass/modifuser.scss */
  body > #page > article > form > #photo > p {
    font-size: 13px;
  }
  /* line 253, ../sass/modifuser.scss */
  body > #page > article > form > #enreg {
    width: 100%;
    float: right;
    margin-right: 0;
    margin-top: 0;
  }
  /* line 256, ../sass/modifuser.scss */
  body > #page > article > form > #enreg > input {
    margin-left: 30.27523%;
    width: 39.44954%;
    float: left;
    margin-right: 0.91743%;
    margin-right: 30.27523%;
    font-size: 14px;
    padding: 1%;
  }
}
