/* line 17, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 16, ../sass/tabbar.scss */
body {
  background-image: url(/www/moine7u/amtj-fmp/img/pattern1.png);
  font-family: "Open Sans",arial,sans-serif;
}

/* line 20, ../sass/tabbar.scss */
body > #page {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *zoom: 1;
  padding-left: 0.2em;
  padding-right: 0.2em;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
body > #page:after {
  content: "";
  display: table;
  clear: both;
}
/* line 23, ../sass/tabbar.scss */
body > #page h1 {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
  padding: 1em 0px;
  font-size: 2.5em;
  line-height: 100%;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background 0.1s ease-in-out;
  -webkit-transition: background 0.1s ease-in-out;
  -moz-transition: background 0.1s ease-in-out;
  -ms-transition: background 0.1s ease-in-out;
  -o-transition: background 0.1s ease-in-out;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 1px;
}
/* line 44, ../sass/tabbar.scss */
body > #page #actions {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
  background: #3498db;
  box-shadow: 3px 3px 5px 2px #7f8c8d;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 1%;
}
/* line 53, ../sass/tabbar.scss */
body > #page #actions > ul > li {
  width: 48.83721%;
  float: left;
  margin-right: 2.32558%;
  display: inline;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-align: center;
  font-size: 2.5em;
  padding: 2%;
  background: #2980b9;
}
/* line 63, ../sass/tabbar.scss */
body > #page #actions > ul > li > a {
  text-decoration: none;
  color: white;
}
/* line 67, ../sass/tabbar.scss */
body > #page #actions > ul > li:last-child {
  width: 48.83721%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
}
/* line 72, ../sass/tabbar.scss */
body > #page #financescreator {
  margin-top: 2%;
}
/* line 75, ../sass/tabbar.scss */
body > #page #finances {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
  background: #FFFFFF;
  box-shadow: 3px 3px 5px 2px #7f8c8d;
  margin-top: 2%;
}
/* line 80, ../sass/tabbar.scss */
body > #page #finances > h1 {
  background-color: #e74c3c;
}
/* line 83, ../sass/tabbar.scss */
body > #page #finances > h1:hover {
  background-color: #c0392b;
}
/* line 88, ../sass/tabbar.scss */
body > #page #finances > #finance {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
  margin-top: 3px;
}
/* line 91, ../sass/tabbar.scss */
body > #page #finances > #finance > h3 {
  width: 48.83721%;
  float: left;
  margin-right: 2.32558%;
  display: inline;
  margin-top: 1%;
  margin-bottom: 1%;
  font-size: 2.5em;
}
/* line 96, ../sass/tabbar.scss */
body > #page #finances > #finance > h3 > img {
  margin-left: 5%;
  vertical-align: middle;
}
/* line 101, ../sass/tabbar.scss */
body > #page #finances > #finance > #progress {
  padding-top: 23%;
  padding-bottom: 7%;
  padding-right: 2%;
}
/* line 105, ../sass/tabbar.scss */
body > #page #finances > #finance > #progress > strong {
  width: 23.25581%;
  float: left;
  margin-right: 2.32558%;
  display: inline;
  font-weight: bold;
  text-align: center;
  font-size: 2.5em;
}
/* line 111, ../sass/tabbar.scss */
body > #page #finances > #finance > #progress > meter {
  width: 74.4186%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
  height: 2.5em;
}
/* line 116, ../sass/tabbar.scss */
body > #page #finances > #finance > h3:nth-child(2n) {
  width: 48.83721%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
}
/* line 123, ../sass/tabbar.scss */
body > #page #infocreator {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
  background: #FFFFFF;
  box-shadow: 3px 3px 5px 2px #7f8c8d;
  margin-top: 2%;
  margin-bottom: 2%;
}
/* line 129, ../sass/tabbar.scss */
body > #page #infocreator > h1 {
  background-color: #e74c3c;
}
/* line 131, ../sass/tabbar.scss */
body > #page #infocreator > h1:hover {
  background-color: #c0392b;
}
/* line 135, ../sass/tabbar.scss */
body > #page #infocreator > #creator {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
  margin-top: 3px;
  font-size: 2.5em;
  box-shadow: 0px 1px 0px 0px #7f8c8d;
  border-style: solid;
  border-color: #bdc3c7;
}
/* line 143, ../sass/tabbar.scss */
body > #page #infocreator > #creator > h3 {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
  margin-top: 1%;
  margin-bottom: 1%;
  text-align: justify;
}
/* line 148, ../sass/tabbar.scss */
body > #page #infocreator > #creator > h3 > img {
  margin-left: 2.5%;
  vertical-align: middle;
}
/* line 157, ../sass/tabbar.scss */
body > #page #infoprojet > #projet {
  width: 100%;
  float: left;
  margin-right: 2.32558%;
  display: inline;
  background: #FFFFFF;
  box-shadow: 3px 3px 5px 2px #7f8c8d;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 1%;
  margin-top: 2%;
  position: relative;
}
/* line 167, ../sass/tabbar.scss */
body > #page #infoprojet > #projet > #author {
  display: none;
}
/* line 170, ../sass/tabbar.scss */
body > #page #infoprojet > #projet > h1 {
  font-size: 2.5em;
  margin-left: 5%;
  margin-top: 3%;
  margin-bottom: 3%;
  text-transform: capitalize;
  color: black;
  font-weight: normal;
}
/* line 178, ../sass/tabbar.scss */
body > #page #infoprojet > #projet > h1:hover {
  cursor: default;
}
/* line 182, ../sass/tabbar.scss */
body > #page #infoprojet > #projet #follow {
  position: absolute;
  right: 2%;
  color: black;
  text-decoration: none;
  font-size: 2.5em;
}
/* line 188, ../sass/tabbar.scss */
body > #page #infoprojet > #projet #follow > img {
  vertical-align: middle;
  width: 1em;
}
/* line 194, ../sass/tabbar.scss */
body > #page #infoprojet > #projet > h3 {
  width: 48.83721%;
  float: left;
  margin-right: 2.32558%;
  display: inline;
  text-transform: capitalize;
  font-size: 2.5em;
}
/* line 198, ../sass/tabbar.scss */
body > #page #infoprojet > #projet > h3 > img {
  margin-left: 5%;
  vertical-align: middle;
}
/* line 203, ../sass/tabbar.scss */
body > #page #infoprojet > #projet > h3:nth-child(2n) {
  width: 48.83721%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
}
/* line 206, ../sass/tabbar.scss */
body > #page #infoprojet > #projet > #video {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 4px solid #fff;
  box-shadow: 0px 0px 0px 1px #DCDCDC;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
}
/* line 218, ../sass/tabbar.scss */
body > #page #infoprojet > #projet > #video > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 231, ../sass/tabbar.scss */
body > #page #infoprojet > #soutenir {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
  background: white;
  box-shadow: 3px 3px 5px 2px #7f8c8d;
  margin-top: 2%;
}
/* line 237, ../sass/tabbar.scss */
body > #page #infoprojet > #soutenir > h1 {
  background-color: #2ecc71;
  font-size: 2.5em;
  padding: 4% 0;
}
/* line 241, ../sass/tabbar.scss */
body > #page #infoprojet > #soutenir > h1:hover {
  background-color: #27ae60;
}
/* line 245, ../sass/tabbar.scss */
body > #page #infoprojet > #soutenir > form {
  display: none;
  background: white;
}
/* line 248, ../sass/tabbar.scss */
body > #page #infoprojet > #soutenir > form > #soutien {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 1%;
  margin-top: 1%;
}
/* line 255, ../sass/tabbar.scss */
body > #page #infoprojet > #soutenir > form > #soutien > label {
  width: 23.25581%;
  float: left;
  margin-right: 2.32558%;
  display: inline;
  display: block;
  float: left;
  margin-top: 5px;
  font-size: 2.5em;
}
/* line 262, ../sass/tabbar.scss */
body > #page #infoprojet > #soutenir > form > #soutien > input {
  width: 74.4186%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
  float: left;
  padding: 1%;
}
/* line 268, ../sass/tabbar.scss */
body > #page #infoprojet > #soutenir > form > #confirm {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
  border: 1px ridge #2ecc71;
  background: #2ecc71;
  color: white;
  padding: 2%;
}
/* line 274, ../sass/tabbar.scss */
body > #page #infoprojet > #soutenir > form > #confirm:hover {
  background: #27ae60;
  cursor: pointer;
}
/* line 280, ../sass/tabbar.scss */
body > #page #infoprojet > #soutenir .fb-like-box {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
  font-size: 2.5em;
}
/* line 286, ../sass/tabbar.scss */
body > #page #infoprojet > #rewards {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
  text-shadow: none;
  color: black;
  margin: 2% 0;
  box-shadow: 3px 3px 5px 2px #7f8c8d;
}
/* line 292, ../sass/tabbar.scss */
body > #page #infoprojet > #rewards > #buttonreward {
  background-color: #e74c3c;
  padding: 1em 0;
  font-size: 2.5em;
}
/* line 296, ../sass/tabbar.scss */
body > #page #infoprojet > #rewards > #buttonreward:hover {
  background-color: #c0392b;
}
/* line 300, ../sass/tabbar.scss */
body > #page #infoprojet > #rewards > section {
  display: none;
}
/* line 302, ../sass/tabbar.scss */
body > #page #infoprojet > #rewards > section > article {
  background: #FFFFFF;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 4px solid #fff;
  box-shadow: 0px 0px 0px 1px #DCDCDC;
}
/* line 309, ../sass/tabbar.scss */
body > #page #infoprojet > #rewards > section > article > h1 {
  color: black;
  text-shadow: none;
  font-weight: bold;
  padding: 0;
  padding-top: 2%;
  margin: 0;
  font-size: 2.5em;
}
/* line 318, ../sass/tabbar.scss */
body > #page #infoprojet > #rewards > section > article > h3 {
  margin-left: 2%;
  margin-top: 1%;
  margin-bottom: 1%;
  font-size: 1.5em;
  color: #7f8c8d;
}
/* line 324, ../sass/tabbar.scss */
body > #page #infoprojet > #rewards > section > article > h3 > img {
  vertical-align: middle;
}
/* line 333, ../sass/tabbar.scss */
body > #page #infoprojet2 > #infos {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}
/* line 336, ../sass/tabbar.scss */
body > #page #infoprojet2 > #infos > #tabs {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
  background: white;
  margin-top: 3%;
  box-shadow: 3px 3px 5px 2px #7f8c8d;
  margin-bottom: 2%;
}
/* line 342, ../sass/tabbar.scss */
body > #page #infoprojet2 > #infos > #tabs > ul > li {
  width: 32.82443%;
  float: left;
  margin-right: 0.76336%;
  display: inline;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: inline;
  float: left;
  text-align: center;
  vertical-align: middle;
  padding: 3% 0;
  border: 1px solid #DCDCDC;
  font-size: 2.5em;
  background: #bdc3c7;
  position: relative;
}
/* line 356, ../sass/tabbar.scss */
body > #page #infoprojet2 > #infos > #tabs > ul > li:nth-child(3) {
  width: 32.82443%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
}
/* line 359, ../sass/tabbar.scss */
body > #page #infoprojet2 > #infos > #tabs > ul > li > a {
  text-decoration: none;
  color: black;
}
/* line 363, ../sass/tabbar.scss */
body > #page #infoprojet2 > #infos > #tabs > ul > li > div {
  z-index: 2;
  background: #c0392b;
  padding: 4%;
  position: absolute;
  right: -5px;
  top: -5px;
  border-radius: 10px 1px 9px 0px;
  color: white;
}
/* line 373, ../sass/tabbar.scss */
body > #page #infoprojet2 > #infos > #tabs > ul > li:hover {
  cursor: pointer;
}
/* line 377, ../sass/tabbar.scss */
body > #page #infoprojet2 > #infos > #tabs .ui-tabs-active {
  border-bottom: 0;
  background: white;
}
/* line 382, ../sass/tabbar.scss */
body > #page #infoprojet2 > #infos > #tabs > div > p {
  margin: 3% 2%;
  padding-top: 10%;
  text-align: justify;
  font-size: 2.5em;
}
/* line 389, ../sass/tabbar.scss */
body > #page #infoprojet2 > #infos > #tabs > #tab-1 {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 2%;
  font-size: 1em;
}
/* line 396, ../sass/tabbar.scss */
body > #page #infoprojet2 > #infos > #tabs > #tab-1 > p {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
/* line 401, ../sass/tabbar.scss */
body > #page #infoprojet2 > #infos > #tabs > #tab-1 > p > .image {
  max-width: 70%;
  height: auto;
  text-align: center;
  margin: 0 auto;
}
/* line 406, ../sass/tabbar.scss */
body > #page #infoprojet2 > #infos > #tabs > #tab-1 > p > .image > img {
  width: 100%;
}
/* line 413, ../sass/tabbar.scss */
body > #page #infoprojet2 > #infos > #tabs > #bankers > h2 {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
  text-align: center;
  font-size: 2.5em;
  margin: 2% 0;
}
/* line 418, ../sass/tabbar.scss */
body > #page #infoprojet2 > #infos > #tabs > #bankers > h2 > img {
  vertical-align: middle;
}
/* line 422, ../sass/tabbar.scss */
body > #page #infoprojet2 > #infos > #tabs > #bankers > section {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 1%;
}
/* line 428, ../sass/tabbar.scss */
body > #page #infoprojet2 > #infos > #tabs > #bankers > section > article {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 4px solid #fff;
  box-shadow: 0px 0px 0px 1px #DCDCDC;
  font-size: 2.5em;
  margin-top: 1%;
}
/* line 437, ../sass/tabbar.scss */
body > #page #infoprojet2 > #infos > #tabs > #bankers > section > article:first-child {
  margin-top: 0;
}
/* line 440, ../sass/tabbar.scss */
body > #page #infoprojet2 > #infos > #tabs > #bankers > section > article > #photobanker {
  width: 9.30233%;
  float: left;
  margin-right: 2.32558%;
  display: inline;
}
/* line 442, ../sass/tabbar.scss */
body > #page #infoprojet2 > #infos > #tabs > #bankers > section > article > #photobanker > a > img {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
}
/* line 446, ../sass/tabbar.scss */
body > #page #infoprojet2 > #infos > #tabs > #bankers > section > article > p:nth-child(2) {
  width: 62.7907%;
  float: left;
  margin-right: 2.32558%;
  display: inline;
}
/* line 449, ../sass/tabbar.scss */
body > #page #infoprojet2 > #infos > #tabs > #bankers > section > article > p:nth-child(3) {
  width: 23.25581%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
  font-weight: bold;
  text-align: center;
}
/* line 459, ../sass/tabbar.scss */
body > #page #infoprojet2 > #infos > #tabs > #comments > section > #commentaires {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 1%;
}
/* line 464, ../sass/tabbar.scss */
body > #page #infoprojet2 > #infos > #tabs > #comments > section > #commentaires > article {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 4px solid #fff;
  box-shadow: 0px 0px 0px 1px #DCDCDC;
  font-size: 2.5em;
  margin-top: 1%;
  position: relative;
}
/* line 474, ../sass/tabbar.scss */
body > #page #infoprojet2 > #infos > #tabs > #comments > section > #commentaires > article > #photocomment {
  width: 9.30233%;
  float: left;
  margin-right: 2.32558%;
  display: inline;
}
/* line 476, ../sass/tabbar.scss */
body > #page #infoprojet2 > #infos > #tabs > #comments > section > #commentaires > article > #photocomment > a > img {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
}
/* line 480, ../sass/tabbar.scss */
body > #page #infoprojet2 > #infos > #tabs > #comments > section > #commentaires > article > h2 {
  font-weight: bold;
}
/* line 483, ../sass/tabbar.scss */
body > #page #infoprojet2 > #infos > #tabs > #comments > section > #commentaires > article > a {
  position: absolute;
  right: 1%;
  top: 1%;
}
/* line 487, ../sass/tabbar.scss */
body > #page #infoprojet2 > #infos > #tabs > #comments > section > #commentaires > article > a > img {
  width: 1.5em;
}
/* line 493, ../sass/tabbar.scss */
body > #page #infoprojet2 > #infos > #tabs > #comments > section > form {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  float: right;
  padding: 1%;
}
/* line 500, ../sass/tabbar.scss */
body > #page #infoprojet2 > #infos > #tabs > #comments > section > form > section {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 4px solid #fff;
  box-shadow: 0px 0px 0px 1px #DCDCDC;
}
/* line 507, ../sass/tabbar.scss */
body > #page #infoprojet2 > #infos > #tabs > #comments > section > form > section > textarea {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
  font-size: 2.5em;
}
/* line 511, ../sass/tabbar.scss */
body > #page #infoprojet2 > #infos > #tabs > #comments > section > form > section > #submit {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
  border: 1px ridge #2ecc71;
  background: #2ecc71;
  color: white;
  font-size: 2.5em;
  padding: 1%;
}
/* line 521, ../sass/tabbar.scss */
body > #page #infoprojet2 > #infos > #tabs > #comments > section > h2 {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
  text-align: center;
  font-size: 2.5em;
  margin: 2% 0;
}
/* line 526, ../sass/tabbar.scss */
body > #page #infoprojet2 > #infos > #tabs > #comments > section > h2 > img {
  vertical-align: middle;
}
@media (min-width: 1024px) and (max-width: 1152px) {
  /* line 20, ../sass/tabbar.scss */
  body > #page {
    background-image: url(../img/pattern1.png);
  }
  /* line 540, ../sass/tabbar.scss */
  body > #page h1 {
    font-size: 14px;
    padding: 2% 0;
  }
  /* line 544, ../sass/tabbar.scss */
  body > #page h3 {
    font-size: 13px;
  }
  /* line 548, ../sass/tabbar.scss */
  body > #page #actions > ul > li {
    width: 24.13793%;
    float: left;
    margin-right: 1.14943%;
    padding: 1%;
    font-size: 13px;
  }
  /* line 552, ../sass/tabbar.scss */
  body > #page #actions > ul > li:last-child {
    width: 11.49425%;
    float: left;
    margin-right: 1.14943%;
  }
  /* line 557, ../sass/tabbar.scss */
  body > #page #financescreator {
    width: 36.78161%;
    float: right;
    margin-right: 0;
    font-size: 13px;
  }
  /* line 560, ../sass/tabbar.scss */
  body > #page #financescreator > #finances {
    background: #FFFFFF;
    box-shadow: 3px 3px 5px 2px #7f8c8d;
    margin-top: 0;
  }
  /* line 564, ../sass/tabbar.scss */
  body > #page #financescreator > #finances > h1 {
    margin-top: 0;
  }
  /* line 568, ../sass/tabbar.scss */
  body > #page #financescreator > #finances > #finance > h3 {
    font-size: 13px;
  }
  /* line 570, ../sass/tabbar.scss */
  body > #page #financescreator > #finances > #finance > h3 > img {
    width: 20px;
  }
  /* line 574, ../sass/tabbar.scss */
  body > #page #financescreator > #finances > #finance > #progress {
    padding-bottom: 8%;
  }
  /* line 576, ../sass/tabbar.scss */
  body > #page #financescreator > #finances > #finance > #progress > strong {
    font-size: 13px;
  }
  /* line 579, ../sass/tabbar.scss */
  body > #page #financescreator > #finances > #finance > #progress > meter {
    height: 13px;
  }
  /* line 585, ../sass/tabbar.scss */
  body > #page #financescreator > #infocreator {
    background: #FFFFFF;
    margin-top: 4%;
    box-shadow: 3px 3px 5px 2px #7f8c8d;
  }
  /* line 589, ../sass/tabbar.scss */
  body > #page #financescreator > #infocreator > h1 {
    margin-top: 0;
  }
  /* line 596, ../sass/tabbar.scss */
  body > #page #infoprojet > #projet {
    width: 62.06897%;
    float: left;
    margin-right: 1.14943%;
    box-shadow: 3px 3px 5px 2px #7f8c8d;
    margin: 0;
    position: relative;
    margin-top: 2%;
  }
  /* line 602, ../sass/tabbar.scss */
  body > #page #infoprojet > #projet > #author {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: absolute;
    top: 2%;
    left: 2%;
    border: 4px solid #fff;
    box-shadow: 0px 0px 0px 1px #DCDCDC;
    display: block;
  }
  /* line 612, ../sass/tabbar.scss */
  body > #page #infoprojet > #projet > #author > a > img {
    width: 55px;
    height: 55px;
  }
  /* line 617, ../sass/tabbar.scss */
  body > #page #infoprojet > #projet > h1 {
    font-size: 17px;
  }
  /* line 620, ../sass/tabbar.scss */
  body > #page #infoprojet > #projet > h3, body > #page #infoprojet > #projet #follow {
    font-size: 13px;
  }
  /* line 625, ../sass/tabbar.scss */
  body > #page #infoprojet > #soutenir {
    width: 36.78161%;
    float: right;
    margin-right: 0;
    margin-top: 0;
    font-size: 13px;
  }
  /* line 629, ../sass/tabbar.scss */
  body > #page #infoprojet > #soutenir > h1 {
    width: 100%;
    float: right;
    margin-right: 0;
    padding: 4% 0;
    font-size: 14px;
  }
  /* line 635, ../sass/tabbar.scss */
  body > #page #infoprojet > #soutenir > form > #soutien > label {
    font-size: 13px;
  }
  /* line 639, ../sass/tabbar.scss */
  body > #page #infoprojet > #soutenir > .fb-like-box {
    width: 100%;
    float: right;
    margin-right: 0;
    background: white;
  }
  /* line 645, ../sass/tabbar.scss */
  body > #page #infoprojet > #rewards {
    width: 36.78161%;
    float: right;
    margin-right: 0;
  }
  /* line 647, ../sass/tabbar.scss */
  body > #page #infoprojet > #rewards > #buttonreward {
    font-size: 14px;
    padding: 2% 0;
  }
  /* line 651, ../sass/tabbar.scss */
  body > #page #infoprojet > #rewards > #reward {
    display: block;
  }
  /* line 654, ../sass/tabbar.scss */
  body > #page #infoprojet > #rewards > #reward > article > h1 {
    font-size: 15px;
  }
  /* line 657, ../sass/tabbar.scss */
  body > #page #infoprojet > #rewards > #reward > article > h3 {
    font-size: 13px;
  }
  /* line 664, ../sass/tabbar.scss */
  body > #page #infoprojet2 {
    width: 62.06897%;
    float: left;
    margin-right: 1.14943%;
  }
  /* line 666, ../sass/tabbar.scss */
  body > #page #infoprojet2 > #infos > #tabs {
    padding-bottom: 2%;
    margin-bottom: 2%;
  }
  /* line 669, ../sass/tabbar.scss */
  body > #page #infoprojet2 > #infos > #tabs > ul > li {
    width: 32.82443%;
    float: left;
    margin-right: 0.76336%;
    padding: 1.5%;
    font-size: 13px;
  }
  /* line 673, ../sass/tabbar.scss */
  body > #page #infoprojet2 > #infos > #tabs > ul > li:nth-child(3) {
    width: 32.82443%;
    float: right;
    margin-right: 0;
  }
  /* line 676, ../sass/tabbar.scss */
  body > #page #infoprojet2 > #infos > #tabs > ul > li > a {
    font-size: 15px;
  }
  /* line 681, ../sass/tabbar.scss */
  body > #page #infoprojet2 > #infos > #tabs > #tab-1 {
    font-size: 13px;
  }
  /* line 685, ../sass/tabbar.scss */
  body > #page #infoprojet2 > #infos > #tabs > #comments > section > h2 {
    font-size: 14px;
  }
  /* line 688, ../sass/tabbar.scss */
  body > #page #infoprojet2 > #infos > #tabs > #comments > section > #commentaires > article {
    font-size: 13px;
  }
  /* line 691, ../sass/tabbar.scss */
  body > #page #infoprojet2 > #infos > #tabs > #comments > section > form > section > #submit {
    font-size: 14px;
  }
  /* line 696, ../sass/tabbar.scss */
  body > #page #infoprojet2 > #infos > #tabs > #bankers > h2 {
    font-size: 14px;
  }
  /* line 699, ../sass/tabbar.scss */
  body > #page #infoprojet2 > #infos > #tabs > #bankers > section > article {
    font-size: 13px;
  }
  /* line 703, ../sass/tabbar.scss */
  body > #page #infoprojet2 > #infos > #tabs > div > p {
    padding-top: 4%;
    font-size: 15px;
  }
}
@media (min-width: 1152px) and (max-width: 1854px) {
  /* line 20, ../sass/tabbar.scss */
  body > #page {
    margin-left: 8.39695%;
    width: 83.20611%;
    float: right;
    margin-right: 0;
    margin-right: 8.39695%;
  }
  /* line 714, ../sass/tabbar.scss */
  body > #page h1 {
    font-size: 14px;
    padding: 2% 0;
  }
  /* line 718, ../sass/tabbar.scss */
  body > #page h3 {
    font-size: 13px;
  }
  /* line 721, ../sass/tabbar.scss */
  body > #page #actions {
    padding: 0.5%;
  }
  /* line 723, ../sass/tabbar.scss */
  body > #page #actions > ul > li {
    width: 16.03053%;
    float: left;
    margin-right: 0.76336%;
    padding: 1%;
    font-size: 13px;
  }
  /* line 727, ../sass/tabbar.scss */
  body > #page #actions > ul > li:last-child {
    width: 16.03053%;
    float: left;
    margin-right: 0.76336%;
  }
  /* line 732, ../sass/tabbar.scss */
  body > #page #financescreator {
    width: 32.82443%;
    float: right;
    margin-right: 0;
  }
  /* line 734, ../sass/tabbar.scss */
  body > #page #financescreator > #finances {
    margin-top: 0;
  }
  /* line 736, ../sass/tabbar.scss */
  body > #page #financescreator > #finances > h1 {
    margin-top: 0;
  }
  /* line 740, ../sass/tabbar.scss */
  body > #page #financescreator > #finances > #finance > h3 {
    font-size: 13px;
  }
  /* line 744, ../sass/tabbar.scss */
  body > #page #financescreator > #finances > #finance > #progress > strong {
    font-size: 13px;
  }
  /* line 747, ../sass/tabbar.scss */
  body > #page #financescreator > #finances > #finance > #progress > meter {
    height: 13px;
  }
  /* line 754, ../sass/tabbar.scss */
  body > #page #financescreator > #infocreator {
    margin-top: 4%;
  }
  /* line 756, ../sass/tabbar.scss */
  body > #page #financescreator > #infocreator > h1 {
    margin-top: 0;
  }
  /* line 763, ../sass/tabbar.scss */
  body > #page #infoprojet > #projet {
    width: 66.41221%;
    float: left;
    margin-right: 0.76336%;
    position: relative;
  }
  /* line 766, ../sass/tabbar.scss */
  body > #page #infoprojet > #projet > #author {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: absolute;
    top: 2%;
    left: 2%;
    border: 4px solid #fff;
    box-shadow: 0px 0px 0px 1px #DCDCDC;
    display: block;
  }
  /* line 776, ../sass/tabbar.scss */
  body > #page #infoprojet > #projet > #author > a > img {
    width: 70px;
    height: 70px;
  }
  /* line 781, ../sass/tabbar.scss */
  body > #page #infoprojet > #projet > h1 {
    font-size: 20px;
  }
  /* line 784, ../sass/tabbar.scss */
  body > #page #infoprojet > #projet > h3, body > #page #infoprojet > #projet #follow {
    font-size: 13px;
  }
  /* line 788, ../sass/tabbar.scss */
  body > #page #infoprojet > #soutenir {
    width: 32.82443%;
    float: right;
    margin-right: 0;
  }
  /* line 791, ../sass/tabbar.scss */
  body > #page #infoprojet > #soutenir > h1 {
    width: 100%;
    float: right;
    margin-right: 0;
    padding: 4% 0;
    font-size: 14px;
  }
  /* line 797, ../sass/tabbar.scss */
  body > #page #infoprojet > #soutenir > form > #soutien > label {
    font-size: 13px;
  }
  /* line 801, ../sass/tabbar.scss */
  body > #page #infoprojet > #soutenir > .fb-like-box {
    width: 100%;
    float: right;
    margin-right: 0;
  }
  /* line 805, ../sass/tabbar.scss */
  body > #page #infoprojet > #rewards {
    width: 32.82443%;
    float: right;
    margin-right: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  /* line 810, ../sass/tabbar.scss */
  body > #page #infoprojet > #rewards > #buttonreward {
    font-size: 14px;
    padding: 2% 0;
  }
  /* line 814, ../sass/tabbar.scss */
  body > #page #infoprojet > #rewards > section {
    display: block;
  }
  /* line 816, ../sass/tabbar.scss */
  body > #page #infoprojet > #rewards > section > article {
    width: 100%;
    float: right;
    margin-right: 0;
  }
  /* line 818, ../sass/tabbar.scss */
  body > #page #infoprojet > #rewards > section > article > h1 {
    font-size: 15px;
  }
  /* line 821, ../sass/tabbar.scss */
  body > #page #infoprojet > #rewards > section > article > h3 {
    font-size: 13px;
  }
  /* line 828, ../sass/tabbar.scss */
  body > #page #infoprojet2 {
    width: 66.41221%;
    float: left;
    margin-right: 0.76336%;
  }
  /* line 830, ../sass/tabbar.scss */
  body > #page #infoprojet2 > #infos > #tabs {
    margin-bottom: 2%;
  }
  /* line 833, ../sass/tabbar.scss */
  body > #page #infoprojet2 > #infos > #tabs > ul > li {
    font-size: 15px;
    padding: 1% 0;
  }
  /* line 836, ../sass/tabbar.scss */
  body > #page #infoprojet2 > #infos > #tabs > ul > li > div {
    padding: 2%;
  }
  /* line 840, ../sass/tabbar.scss */
  body > #page #infoprojet2 > #infos > #tabs > div > p {
    padding-top: 2%;
    font-size: 15px;
  }
  /* line 844, ../sass/tabbar.scss */
  body > #page #infoprojet2 > #infos > #tabs > #tab-1 {
    font-size: 14px;
  }
  /* line 846, ../sass/tabbar.scss */
  body > #page #infoprojet2 > #infos > #tabs > #tab-1 > p {
    width: 100%;
    float: right;
    margin-right: 0;
  }
  /* line 848, ../sass/tabbar.scss */
  body > #page #infoprojet2 > #infos > #tabs > #tab-1 > p > img {
    width: 100%;
    float: right;
    margin-right: 0;
  }
  /* line 854, ../sass/tabbar.scss */
  body > #page #infoprojet2 > #infos > #tabs > #comments > section > #commentaires > article {
    font-size: 13px;
  }
  /* line 858, ../sass/tabbar.scss */
  body > #page #infoprojet2 > #infos > #tabs > #comments > section > form > section > #submit, body > #page #infoprojet2 > #infos > #tabs > #comments > section > form > section textarea {
    font-size: 14px;
  }
  /* line 862, ../sass/tabbar.scss */
  body > #page #infoprojet2 > #infos > #tabs > #comments > section > h2 {
    font-size: 15px;
  }
  /* line 867, ../sass/tabbar.scss */
  body > #page #infoprojet2 > #infos > #tabs > #bankers > h2 {
    font-size: 14px;
  }
  /* line 870, ../sass/tabbar.scss */
  body > #page #infoprojet2 > #infos > #tabs > #bankers > section > article {
    font-size: 13px;
  }
}
@media (min-width: 1855px) {
  /* line 20, ../sass/tabbar.scss */
  body > #page {
    margin-left: 25.14286%;
    width: 49.71429%;
    float: left;
    margin-right: 0.57143%;
    margin-right: 25.14286%;
  }
  /* line 881, ../sass/tabbar.scss */
  body > #page h1 {
    font-size: 14px;
    padding: 2% 0;
  }
  /* line 885, ../sass/tabbar.scss */
  body > #page h3 {
    font-size: 13px;
  }
  /* line 888, ../sass/tabbar.scss */
  body > #page #actions {
    padding: 0.5%;
  }
  /* line 890, ../sass/tabbar.scss */
  body > #page #actions > ul > li {
    width: 16.03053%;
    float: left;
    margin-right: 0.76336%;
    padding: 1%;
    font-size: 13px;
  }
  /* line 894, ../sass/tabbar.scss */
  body > #page #actions > ul > li:last-child {
    width: 16.03053%;
    float: left;
    margin-right: 0.76336%;
  }
  /* line 899, ../sass/tabbar.scss */
  body > #page #financescreator {
    width: 32.82443%;
    float: right;
    margin-right: 0;
  }
  /* line 901, ../sass/tabbar.scss */
  body > #page #financescreator > #finances {
    margin-top: 0;
  }
  /* line 903, ../sass/tabbar.scss */
  body > #page #financescreator > #finances > h1 {
    margin-top: 0;
  }
  /* line 907, ../sass/tabbar.scss */
  body > #page #financescreator > #finances > #finance > h3 {
    font-size: 13px;
  }
  /* line 911, ../sass/tabbar.scss */
  body > #page #financescreator > #finances > #finance > #progress > strong {
    font-size: 13px;
  }
  /* line 914, ../sass/tabbar.scss */
  body > #page #financescreator > #finances > #finance > #progress > meter {
    height: 13px;
  }
  /* line 921, ../sass/tabbar.scss */
  body > #page #financescreator > #infocreator {
    margin-top: 4%;
  }
  /* line 923, ../sass/tabbar.scss */
  body > #page #financescreator > #infocreator > h1 {
    margin-top: 0;
  }
  /* line 930, ../sass/tabbar.scss */
  body > #page #infoprojet > #projet {
    width: 66.41221%;
    float: left;
    margin-right: 0.76336%;
    position: relative;
  }
  /* line 933, ../sass/tabbar.scss */
  body > #page #infoprojet > #projet > #author {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: absolute;
    top: 2%;
    left: 2%;
    border: 4px solid #fff;
    box-shadow: 0px 0px 0px 1px #DCDCDC;
    display: block;
  }
  /* line 943, ../sass/tabbar.scss */
  body > #page #infoprojet > #projet > #author > a > img {
    width: 70px;
    height: 70px;
  }
  /* line 948, ../sass/tabbar.scss */
  body > #page #infoprojet > #projet > h1 {
    font-size: 20px;
  }
  /* line 951, ../sass/tabbar.scss */
  body > #page #infoprojet > #projet > h3, body > #page #infoprojet > #projet #follow {
    font-size: 13px;
  }
  /* line 955, ../sass/tabbar.scss */
  body > #page #infoprojet > #soutenir {
    width: 32.82443%;
    float: right;
    margin-right: 0;
  }
  /* line 958, ../sass/tabbar.scss */
  body > #page #infoprojet > #soutenir > h1 {
    width: 100%;
    float: right;
    margin-right: 0;
    padding: 4% 0;
    font-size: 14px;
  }
  /* line 964, ../sass/tabbar.scss */
  body > #page #infoprojet > #soutenir > form > #soutien > label {
    font-size: 13px;
  }
  /* line 968, ../sass/tabbar.scss */
  body > #page #infoprojet > #soutenir > .fb-like-box {
    width: 100%;
    float: right;
    margin-right: 0;
  }
  /* line 972, ../sass/tabbar.scss */
  body > #page #infoprojet > #rewards {
    width: 32.82443%;
    float: right;
    margin-right: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  /* line 977, ../sass/tabbar.scss */
  body > #page #infoprojet > #rewards > #buttonreward {
    font-size: 14px;
    padding: 2% 0;
  }
  /* line 981, ../sass/tabbar.scss */
  body > #page #infoprojet > #rewards > section {
    display: block;
  }
  /* line 983, ../sass/tabbar.scss */
  body > #page #infoprojet > #rewards > section > article {
    width: 100%;
    float: right;
    margin-right: 0;
  }
  /* line 985, ../sass/tabbar.scss */
  body > #page #infoprojet > #rewards > section > article > h1 {
    font-size: 15px;
  }
  /* line 988, ../sass/tabbar.scss */
  body > #page #infoprojet > #rewards > section > article > h3 {
    font-size: 13px;
  }
  /* line 995, ../sass/tabbar.scss */
  body > #page #infoprojet2 {
    width: 66.41221%;
    float: left;
    margin-right: 0.76336%;
  }
  /* line 997, ../sass/tabbar.scss */
  body > #page #infoprojet2 > #infos > #tabs {
    margin-bottom: 2%;
  }
  /* line 1000, ../sass/tabbar.scss */
  body > #page #infoprojet2 > #infos > #tabs > ul > li {
    font-size: 15px;
    padding: 1% 0;
  }
  /* line 1003, ../sass/tabbar.scss */
  body > #page #infoprojet2 > #infos > #tabs > ul > li > div {
    padding: 2%;
  }
  /* line 1007, ../sass/tabbar.scss */
  body > #page #infoprojet2 > #infos > #tabs > div > p {
    padding-top: 2%;
    font-size: 15px;
  }
  /* line 1011, ../sass/tabbar.scss */
  body > #page #infoprojet2 > #infos > #tabs > #tab-1 {
    font-size: 14px;
  }
  /* line 1013, ../sass/tabbar.scss */
  body > #page #infoprojet2 > #infos > #tabs > #tab-1 > p {
    width: 100%;
    float: right;
    margin-right: 0;
  }
  /* line 1015, ../sass/tabbar.scss */
  body > #page #infoprojet2 > #infos > #tabs > #tab-1 > p > img {
    width: 100%;
    float: right;
    margin-right: 0;
  }
  /* line 1021, ../sass/tabbar.scss */
  body > #page #infoprojet2 > #infos > #tabs > #comments > section > #commentaires > article {
    font-size: 13px;
  }
  /* line 1025, ../sass/tabbar.scss */
  body > #page #infoprojet2 > #infos > #tabs > #comments > section > form > section > #submit, body > #page #infoprojet2 > #infos > #tabs > #comments > section > form > section textarea {
    font-size: 14px;
  }
  /* line 1029, ../sass/tabbar.scss */
  body > #page #infoprojet2 > #infos > #tabs > #comments > section > h2 {
    font-size: 15px;
  }
  /* line 1034, ../sass/tabbar.scss */
  body > #page #infoprojet2 > #infos > #tabs > #bankers > h2 {
    font-size: 14px;
  }
  /* line 1037, ../sass/tabbar.scss */
  body > #page #infoprojet2 > #infos > #tabs > #bankers > section > article {
    font-size: 13px;
  }
}
