<link rel="stylesheet" href="/www/moine7u/amtj-fmp/css/social.css">

<ul id='social'>
    <li id='fb'><a href='http://www.facebook.com/fundmp'><img src='/www/moine7u/amtj-fmp/logos/facebook5.png'/></a></li>
    <li id='twitter'><a href=''><img src='/www/moine7u/amtj-fmp/logos/social19.png'/></a></li>
    <li id="google"><a href=''><img src='/www/moine7u/amtj-fmp/logos/google24.png'/></a></li>
    <li id="rss"><a href=''><img src='/www/moine7u/amtj-fmp/logos/rss8.png'/></a></li>
</ul>
